# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* list popular languages for data science.
* list popular libraries for data science.
* make some arithmetics operations.
* convert a number un minutes to hours .

Some of the popular languages that Data Scientists use are:
1. Python.
2. R.
3. Sql language.

Some of the commonly used libraries used by Data Scientists include:

 1. Pandas.
 2. numpy.
 3. ggplot.

| Data Science Tools    |
|---------------------- |
| Jupyter notebook      |
| jupyter lab           |
| Google colaboratory   |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
200/60

3.3333333333333335

## Author
Aymen Boubetana.